language: php

env:
  CODECEPTION_VERSION: '3.0.x-dev'

php:
  - 7.1
  - 7.2
  - 7.3

before_script:
  - wget https://github.com/consolidation/Robo/releases/download/1.4.12/robo.phar
  - php robo.phar prepare
  - composer update

script:
  - php robo.phar test cli
  - php robo.phar test "unit -g core"
  - php robo.phar test "tests/unit/Codeception/Constraints/"
  - php robo.phar test "tests/unit/Codeception/Module/AssertsTest.php"
# run tests with 2.5 branch
  - CODECEPTION_VERSION=2.5.x-dev php robo.phar prepare
  - composer update
  - php robo.phar test cli
  - php robo.phar test "unit -g core"
  - php robo.phar test "tests/unit/Codeception/Constraints/"
  - php robo.phar test "tests/unit/Codeception/Module/AssertsTest.php"
